{% extends 'base.html' %}



{% load static %}


{% block content %}
<section>
    <h1>Welcome to the Fashion Education and Wellness Platform</h1>
    <p>A revolutionary space dedicated to empowering individuals within the fashion industry.</p>
    <p>At our core, we believe in fostering creativity, education, and well-being to create a vibrant community of aspiring models, fashion enthusiasts, and industry brands.</p>
  </section>
  
  <!-- Vision Section -->
  <section>
    <h2>Our Vision</h2>
    <p>Our vision is to be the catalyst for positive change in the fashion world by providing a comprehensive platform that seamlessly integrates education, mentorship, and sustainable e-commerce.</p>
  </section>
{% endblock content %}



