{% extends 'base.html' %}


{% load static %}

{% block content %}

<h1>Privacy Policy</h1>

Data Collection and Usage
We are committed to safeguarding your privacy. Personal information collected during registration is solely used to enhance your experience on our platform. We do not share, sell, or disclose your data without your explicit consent.

Security Measures
Our platform employs industry-standard security measures to protect your information. We use encrypted connections, secure servers, and regularly update our systems to ensure the highest level of data protection.

Terms of Service
Acceptance of Terms
By accessing our platform, you agree to abide by the terms and conditions outlined in this document. We reserve the right to modify these terms, and your continued use constitutes acceptance of any changes.

Code of Conduct
We promote a respectful and inclusive environment. Users engaging in harmful behavior or violating ethical standards may face account suspension or termination.

Sustainability Statement
Our commitment to ethical and sustainable practices extends to content delivery and e-commerce operations. We strive to support brands that share our values and contribute to a more sustainable and responsible fashion industry.

Join us on this exciting journey as we redefine education, mentorship, and commerce in the fashion world. Together, let's shape a brighter, more sustainable future for the industry we love.
{% endblock content %}