{% extends 'base.html' %}


{% load static %}

{% block content %}

<!-- Section 1: Educational Excellence -->
<section>
  <h2>1. Educational Excellence</h2>
  <img src="{% static 'images/educational_excellence.png' %}" alt="Educational_Excellence">
  <p>Modern curriculum covering all facets of the fashion industry.</p>
  <p>Interactive lessons, engaging video content, and assessments.</p>
  <p>Progress tracking and performance analytics for personalized growth.</p>
</section>

<!-- Section 2: Mentorship Empowerment -->
<section>
  <h2>2. Mentorship Empowerment</h2>
  <img src="{% static 'images/mentoring.png' %}"alt="Mentoring">
  <p>Connecting aspiring models with seasoned mentors.</p>
  <p>Personalized guidance, portfolio reviews, and career advice.</p>
  <p>Live sessions and forums for meaningful mentor-student interactions.</p>
</section>

  
{% endblock content %}